.navbar {
  border-bottom: 2px solid rgba(187, 187, 187, 0.503);
}

.navbar-brand {
  color: var(--primary) !important;
}

.nav-item {
  margin: 0 15px;
}

.navbar a.active {
  color: darkblue !important;
}
